.header {
  position: absolute;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-text-color);
  background-color: none;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: var(--margin);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 20px;
  }

  nav ul {
    display: none;
  }

  .logo {
    width: 25%;
  }

  a {
    font-size: var(--font-size-s);
  }
}
