:root {
  --font: "Satoshi", sans-serif;
  --primary-color: #0b1d26;
  --secondary-color: #fbd784;
  --primary-text-color: #ececec;
  --font-size-l: 80px;
  --font-size-m: 24px;
  --font-size-s: 18px;
  --border-radius-m: 6px;
  --margin: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: var(--font-size-m);
}

a:hover {
  color: #b2b2b2;
}

/* @media (max-width: 768px) {
  * {
    overflow: auto;
  }
} */
